[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/chino-os/mimalloc.git
[submodule "third_party/picolibc"]
	path = third_party/picolibc
	url = https://github.com/chino-os/picolibc.git
[submodule "third_party/llvm"]
	path = third_party/llvm
	url = https://github.com/chino-os/llvm-project.git
[submodule "third_party/nr_micro_shell"]
	path = src/shell/sh
	url = https://github.com/chino-os/nr_micro_shell.git
