[submodule "gnu-efi-code"]
	path = gnu-efi-code
	url = git://git.code.sf.net/p/gnu-efi/code
[submodule "thirdparty/gnu-efi"]
	path = thirdparty/gnu-efi
	url = git://git.code.sf.net/p/gnu-efi/code
[submodule "thirdparty/lwip"]
	path = thirdparty/lwip
	url = https://github.com/chino-os/lwip.git
[submodule "thirdparty/fatfs"]
	path = thirdparty/fatfs
	url = https://github.com/chino-os/FatFs.git
