[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/chino-os/mimalloc.git
[submodule "third_party/picolibc"]
	path = third_party/picolibc
	url = https://github.com/chino-os/picolibc.git
