/dts-v1/;

/ {
    model = "st,stm32f103";
    compatible = "arm,armv7-m";

    cpus {
	    CPU0: cpu@0 {
	        device_type = "cpu";
	    };
	};
	
	soc {
		#address-cells = <1>;
		#size-cells = <1>;

	    rcc1: rcc1 {
	        device_type = "rcc";
	        compatible = "st,stm32f103-rcc";
			reg = <0x40021000 0x400>;
			hse_freq = <8000000>;
	    };

		nvic1: nvic1 {
			device_type = "nvic";
			compatible = "arm,cortex-m3-nvic";
		};

		portA: portA {
			device_type = "port";
			compatible = "st,stm32f103-port";
			reg = <0x40010800 0x400>;
		};

		portB: portB {
			device_type = "port";
			compatible = "st,stm32f103-port";
			reg = <0x40010C00 0x400>;
		};

		portC: portC {
			device_type = "port";
			compatible = "st,stm32f103-port";
			reg = <0x40011000 0x400>;
		};

		gpio1: gpio1 {
			device_type = "gpio";
			compatible = "st,stm32f103-gpio";
			port = "portC";
		};

	    usart2: usart2 {
	        device_type = "serial";
	        compatible = "st,stm32f103-usart";
			reg = <0x40013800 0x400>;
			port = "portA";
			tx_pin = <2>;
			rx_pin = <3>;
	    };

		i2c1: i2c1 {
			device_type = "i2c";
			compatible = "st,stm32f103-i2c";
			reg = <0x40005400 0x400>;
			port = "portB";
			scl_pin = <6>;
			sda_pin = <7>;
		};

		at24c02: eeprom1 {
			device_type = "eeprom";
			compatible = "atmel,at24c02";
			i2c = "i2c1";
			slave_address = <0x50>;
		};
	};
};