/dts-v1/;

/ {
    model = "st,stm32f103";
    compatible = "arm,armv7-m";

    cpus {
	    CPU0: cpu@0 {
	        device_type = "cpu";
	    };
	};
	
	soc {
		#address-cells = <1>;
		#size-cells = <1>;

	    rcc1: rcc@0x40021000 {
	        device_type = "rcc";
	        compatible = "st,stm32f103-rcc";
			reg = <0x40021000 0x400>;
	    };

	    usart1: serial@0x40013800 {
	        device_type = "serial";
	        compatible = "st,stm32f103-usart";
			reg = <0x40013800 0x400>;
	    };
	};
};